*
*::before,
 *::after {
     box-sizing: border-box;
 }

body {
    font-family: Arial, sans-serif;
    align-items: center;
    height: 100%;
    background-color: white;
    display: flex;
    padding: 0%;
}

#display {
    width: 75%;
    height: 20%;
    font-size: 100%;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    background-color: white;
    box-shadow: gray 5px 5px 5px;
}

#calculator {
    border: solid black 2px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 3px;
    box-shadow: gray 5px 5px 5px;
    background-color: lightgray;
    width: 12%;
    height: 100%;
    box-sizing: border-box;
}

.operator {
    background-color: #9d0759;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    background-color: #fd3f92;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: gray 2px 2px 2px;
}