*,
*::before,
*::after {
    box-sizing: border-box;
    border-collapse: collapse;
}

#container {
    margin: auto;
}

body {
    margin: 0%;
}

h1 {
    text-align: center;
    font-family: 'Arial Black', sans-serif;
    font-size: 50px;
    color: #48aaad;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav ul{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    list-style-type: none;
    padding: 20px;
    border: gray 2px solid;
}

nav li {
    display: inline;
    margin-right: 20px;
    font-family: 'Arial Black', sans-serif;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: #1f456e;
}

#poster {
    display: block;
    width: 250px;
    height: 375px;
}

