*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    display: grid;
    gap: 5px;
    margin: 14px;
    flex-wrap: wrap;
    display: flex;
}

h1 {
  text-align: center;
}

.folk {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  background: #b6f2ec;
  flex: 1;
}

.student {
  border-right: #2bb8b3 solid 20px;
}

#buttons {
  display: block;
  margin: 0 auto;
}

#listi {
  flex-grow: 10;
  flex-basis: 200;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  background: #b6f2ec;
}

button:hover {
  background: pink;
}
